* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(219, 216, 214);
}
h1, h2 {
    color: rgb(98, 98, 248);
    margin: auto;
    text-align: center;
    width: 50%;
}

.menu {
    display: flex;
}

.menu > div {
    width: 40%;
}

.score {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 30%;
}

.player-score,
.computer-score {
    color: blue;
    font-size: 22px;
    margin-left: 1em;
    margin-top: 10px;
    width: 205px;
}

.playerscore,
.compscore {
    background-color: black;
    border-radius: 15px;
    color: white;
    font-size: 22px;
    height: 35px;
    margin-top: 5px;
    padding-left: 19px;
    padding-top:5px;
    width: 50px;
}

#error {
    color: red;
    font-size: 25px;
    display: none;
    margin-top: 30px;
}

.grid {
    background-color: rgb(178, 216, 223);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 250px;
    margin: auto;
    margin-top: 1%;
    width: 250px;
}

.grid div {
    border: 1px solid white;
    color: brown;
    display: grid;
    font-size: 40px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.grid span {
    color: black;
    font-size: 20px;
}

.controls {
    margin-left: 20%;
    margin-top: 1rem;
}

#xmarker,
#omarker {
    background-color: blue;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    height: 50px;
    margin-left: 9.5rem;
    margin-top: 5px;
    width: 10rem;
}

.position {
    display: none;
    margin: auto;
    margin-top: 2em;
    width: 15rem;
}

fieldset {
    border: 0;
}

fieldset label {
    color: blue;
    font-size: 25px;
}

#position-input {
    background-color: rgb(156, 133, 165);
    border: 1px solid red;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    height: 3rem;
    margin: auto;
    padding-left: 1.6rem;
    width: 5rem;
}

#submit {
    background-color: blue;
    border: 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 3rem;
    margin-left: 15px;
    width: 7rem;
}

.winner {
    color: blue;
    font-size: 30px;
    margin: auto;
    margin-top: 5px;
    width: 15rem;
}

.restart, .next {
    background-color: rgb(22, 101, 113);
    border: 0;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 22px;
    height: 40px;
    margin-left: 2rem;
    margin-top: 1rem;
    width: 100px;
}

.next {
    width: 150px;
}